<a href="javascript::" ng-click="lr.loginform=true"  data-backdrop="static" data-keyboard="false" data-target="#myModal" data-toggle="modal" class="scroll">
    <div class="col-xs-12 col-md-4" style="padding:20px;">
        <div class="addiv">
            <img class="add-icon" src="images/icon.png">
        </div>
        <h2 class="add-new">Add New</h2>
    </div>
</a>

<div id="myModal" class="modal fade" role="dialog" >
  <div class="modal-dialog modal-lg">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header" style="background-color:#2A3F54;">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title" style="color:white">WebSite Details</h4>
      </div>
      <div class="modal-body">
        <form class="form-horizontal">
								<div class="form-group">
									<label class="control-label col-sm-2" for="email">Web Name:</label>
									<div class="col-sm-10">
										<input type="text" class="form-control" placeholder="Enter Web Name" name="web_name">
									</div>
								</div>
								<div class="form-group">
									<label class="control-label col-sm-2" for="pwd">URL:</label>
									<div class="col-sm-10">
										<input type="password" class="form-control" placeholder="Enter URL" name="web_url">
									</div>
								</div>
								<div class="form-group">
									<div class="col-sm-offset-2 col-sm-10">
										<button type="submit" ng-click="login.SignIn(ema_u,pas_u);" class="btn btn-default">Submit</button>
									</div>
								</div>
			</form>
      </div>
      <div class="modal-footer" style="background-color:#2A3F54;">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>